eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
server:
  port: 8081
spring:
  kafka:
    bootstrap-servers: 127.0.0.1:9094
    producer:
      acks: all
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    consumer:
      group-id: auth-service
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    listener:
      ack-mode: manual  
      
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  environments:
    app-url: http://localhost:3000
    image-kit:
      privateKey: private_WAYBY5BdtuGhK8Jkh6mX907EajY=
      publicKey: public_f6XvgRXEcvcNU5gCT88/8w0IzRE=
      urlEndpoint: https://ik.imagekit.io/tbehxfhlf
  application:
    name: auth-service
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5133/users
    username: mecare
    password: root
    jwt-secret: fjdijfdijfidojifdjckxncs[cncknvldkrefinvdkdiifdfdfdkjfdkljlk
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  flyway:
    enabled: true
    validate-on-migrate: true
    baseline-on-migrate: true
  mail:
    host: sandbox.smtp.mailtrap.io
    port: 2525
    username: d92f76d40050bf
    password: 1c41e5d7ffc33b
    from-address: mecare@support.com
  cache:
    type: redis
  threads:
    virtual:
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379
springdoc:
  swagger-ui:
    path: /docs
