eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
spring:
  environments:
    jwt-secret: fjdijfdijfidojifdjckxncs[cncknvldkrefinvdkdiifdfdfdkjfdkljlk
    routes:
      auth-service: http://auth-service
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: health
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
      globalcors:
        default-filters:
          - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
        cors-configurations:
          "[/**]":
            allowedOrigins:
              - "http://127.0.0.1:3000"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allow-credentials: true
resilience4j:
  circuitbreaker:
    configs:
      defaults:
        sliding-window-size: 5
        permitted-number-of-calls-in-half-open-state: 5
        wait-duration-in-open-state: 10s
        failure-rate-threshold: 60
        sliding-window-type: COUNT_BASED
        minimum-number-of-calls: 5
        register-health-indicator: true
  retry:
    configs:
      defaults:
        max-attempts: 3
        wait-duration: 10s
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
        retry-exceptions:
          - java.io.IOException
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: Auth-service
        url: /aggregate/auth-service/v3/api-docs
  api-docs:
    path: /docs
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
    org.springframework.cloud.loadbalancer: DEBUG
